.search-width {
	width: 450px;
}

/* .search--animate::after {
	content: "";
	background: linear-gradient(
		60deg,
		#39e11e,
		#ffeb37,
		#f38334,
		#ea3131,
		#a30dff,
		#19b1ff,
		#39e11e
	);
	height: 55px;
	width: 500px;
	position: absolute;
	z-index: 0;
} */
